/* styles.css */

h1, h2, h3 ,h4, h5 {
  font-size: 5em;
  color: orange
  
}

p {
  font-size: 5em;
  color: green
}

		
p { 
  font-family:"Kalina":Didone;
}

html, body { 
  height: 100%;
  background-color: blue;
}

body {
  font-family:"Aguavina-script: Active;
}
