/* styles.css */

h1, h2, h3 ,h4, h5 {
  font-size: 5em;
  color: orange
}

p {
  font-size: 5em;
  color: green
}




h1 {
	font-family:"Kalnia", serif;
	
}

h2, h3 { 
	font-family:"Aguavaina Script";
}

p { 
  font-family:"Kalnia", serif;
}

html, body { 
  height: 100%;
  background-color: blue;
	font-face:"Kalnia", serif;
}

body {
  font-family:"Aguavina Script";
}


