/* styles.css */

h1, h2, h3 ,h4, h5 {
  font-size: 5em;
  color: orange
}

p {
  font-size: 5em;
  color: green
}



h1 {
	font-family:"Kalina": Serif;
	font-face:"Kalina: Serif;
}
		
p { 
  font-family:"Kalina": Serif
}

html, body { 
  height: 100%;
  background-color: blue;
	font-face:"Kalina": Serif
}

body {
  font-family:"Aguavina-script": Feeling
}


